name: Build and Deploy

on:
  push:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Install bundler
        run: gem install bundler

      - name: Validate data files
        run: ruby ./scripts/validate_data.rb

      - name: Install dependencies
        run: bundle install

      - name: Build site
        run: bundle exec jekyll build -d ./_site

      - name: Deploy to GH Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
